{% extends "nav.html"%}

{% block content%}

{%load static%}


  <!-- about section -->
 
  <section class="fruit_section layout_padding-top">
    <div class="container">
      <h2 class="custom_heading">What is Employee Attrition Means??</h2>
      <p class="custom_heading-text">
        Our experts observed corporate industry more than 30 years and came with following conclusions
      </p>
      <div class="row layout_padding2">
        <div class="col-md-8">
          <div class="fruit_detail-box">
            <h3>
             What is Attrition ??
            </h3>
            <p class="mt-4 mb-5">
              Employee attrition is a term used to describe the process of employees leaving an organization over 
              a period of time. It can occur voluntarily, as employees seek better opportunities elsewhere, or involuntarily,
               due to factors such as downsizing, restructuring, or termination. High levels of attrition can have a negative
                impact on an organization, including increased costs of recruitment, loss of valuable skills and knowledge, 
                decreased morale among remaining employees, and a negative impact on productivity and customer satisfaction. 
              Therefore, organizations often strive to implement strategies to reduce attrition rates and retain their employees.
            </p>
            <div>
              <a href="https://www.spiceworks.com/hr/engagement-retention/articles/what-is-attrition-complete-guide/" class="custom_dark-btn">
                Read More
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <div class="fruit_img-box d-flex justify-content-center align-items-center">
            <img src="{% static 'images/attrition.png' %}" alt="" class="" width="300px" height="200px" />
          </div>
        </div>
      </div>
      <div class="row layout_padding2">
        <div class="col-md-8">
          <div class="fruit_detail-box">
            <h3>
              Causes of Employee Attrition 
            </h3>
            <p class="mt-4 mb-5">
              There can be various reasons for employee attrition. Some of the most common reasons include lack of job satisfaction,
              limited growth opportunities, poor work-life balance, inadequate compensation and benefits, negative work environment,
              lack of recognition and appreciation, and conflict with managers or coworkers. Employees may also leave due to personal 
              reasons such as relocation, health issues, or family obligations. Additionally, industry-specific factors such as job 
              market trends, competition for talent, and economic conditions can also influence employee attrition. Addressing these 
              factors and implementing retention strategies can help organizations reduce attrition rates and retain their employees
            </p>
            <div>
              <a href="https://sightsinplus.com/insight/culture/7-causes-of-employee-attrition-and-strategies-to-reduce-it/" class="custom_dark-btn">
                Read More
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <div class="fruit_img-box d-flex justify-content-center ">
            <img src="{% static 'images/pasted.png' %}" alt="" class="" width="300px" />
          </div>
        </div>
      </div>
      <div class="row layout_padding2-top layout_padding-bottom">
        <div class="col-md-8">
          <div class="fruit_detail-box">
            <h3>
              Strategies to Reduce Employee attrition 
            </h3>
            <p class="mt-4 mb-5">
              Organizations can implement several strategies to reduce employee attrition. These strategies include 
              improving job satisfaction by providing growth opportunities, promoting work-life balance, offering 
              competitive compensation and benefits, recognizing and appreciating employee contributions, creating 
              a positive work environment, and addressing conflicts effectively. Organizations can also conduct exit 
              interviews to gain insights into the reasons for attrition and use this feedback to improve retention 
              strategies. Additionally, providing regular training and development programs, encouraging open 
              communication and feedback, and promoting a culture of learning and innovation can help retain employees. 
              Offering employee engagement programs such as employee wellness programs, mentorship programs, and 
              employee recognition programs can also help retain employees.

            </p>
            <div>
              <a href="https://www.driveresearch.com/market-research-company-blog/9-strategies-for-reducing-employee-attrition/" class="custom_dark-btn">
                Read More
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <div class="fruit_img-box d-flex justify-content-center align-items-center">
            <img src="{% static 'images/images.png' %}" alt="" class="" width="300px" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end fruits section -->


  {% endblock %}