{% extends "nav.html"%}

{% block content%}

{%load static%}


<!doctype html>
<html lang="en">
  <head>
  	<title>Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{%static 'register/css/style.css' %}">

	</head>
	<body class="img js-fullheight" style="background-image: url(static/register/images/bg.jpg);">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-2">
					<h2 class="heading-section">Create an account</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<!-- <h3 class="mb-4 text-center">It's quick and easy</h3> -->
		      	<form method="POST" class="Register-form">
					{% csrf_token %}
		      		
              <div class="form-group">
				        <input type="text" class="form-control" name="uname" placeholder="User name" required>
					</div>
					<div class="form-group">
		      			<input type="text" class="form-control" name="fname" placeholder="first name" required>
					</div>
					<div class="form-group">
		      			<input type="text" class="form-control" name="lname" placeholder="last name" required>
		      		</div>
              <div class="form-group">
		      			<input type="email" class="form-control" name="email"  placeholder="Email" required>
		      		</div>
	            <div class="form-group">
					<div class="form-group">
						<input type="text" class="form-control" name="phone"  placeholder="Phone_no" required>
					</div>
			  <div class="form-group">


	              <input id="password-field" type="password" name="pass" class="form-control" placeholder="Password" required>
				  </div>
				  <div class="form-group">
	              <!-- <input id="password-field" type="password" name="pass1" class="form-control" placeholder="Confirm Password" required> -->
	              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            </div>
	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-3">Register</button>
	            </div>
	            <div class="form-group d-md-flex">
								<div class="w-55 text-md-right">
									<a href="login" style="color: rgb(255, 255, 255)">Already have an account ? &nbsp click here</a>
								</div>
	            </div>
	          </form>
			  {% for i in messages %}
			  <script>alert("{{i}}")</script>
			  {% endfor %}

			  <!-- {% if error == "no" %}
			  <script>
				alert("Registered Successfully")
				window.location= ('{% url 'login' %}');
			  </script>
			   {% endif %}

			   {% if error == "yes" %}
			   <script>
				 alert("Register Not Successful")
				 window.location=('{% url 'register' %}');
			   </script>
				{% endif %} -->
		      </div>
				</div>
				
			</div>
		</div>
	</section>

	<script src="{%static 'register/js/jquery.min.js' %}"></script>
  <script src="{%static 'register/js/popper.js' %}"></script>
  <script src="{%static 'register/js/bootstrap.min.js' %}"></script>
  <script src="{%static 'register/js/main.js' %}"></script>

	</body>
</html>

{% endblock %}